<div>
  <h1>ActorPedia</h1>
  <div class="container">
    <p>Search actor...</p>
    <input type="text" [(ngModel)]="actorSelection">
    <ng-autocomplete 
    [data]="data"
    [searchKeyword]="keyword"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>
    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name" (click)="actorSelection(item.name)"></a>
    </ng-template>
      
    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>

    <div [ngSwitch]="actorSelection">
      <div class="resultsGrid" *ngSwitchCase="'Will Smith'">
        <div *ngFor="let details of moviesWill">
          <img [src]="details.image" alt="image">
          <h2>{{ details.director }}</h2>
          <p>{{ details.age }}</p>
        </div>
      </div>
      <p *ngSwitchDefault>BUSCA UN ACTOR!</p>
    </div>
  </div>
  <div class="circle1"></div>
  <div class="circle2"></div>
  <div class="circle3"></div>
</div>